In [32]:
import pandas as pd

In [33]:
"""
#connect with drive
from google.colab import drive
drive.mount('/content/drive')
"""

"\n#connect with drive\nfrom google.colab import drive\ndrive.mount('/content/drive')\n"

In [34]:
# David's Path & Luis's path
#path = "/content/drive/MyDrive/DavidRestrepo_LuisPerez DANE_SeguridadAlimentaria/Notebooks/FoodSecurity/Censo Nacional Agropecuario/Datos/"
path = "Datos/"

# Read File

In [35]:
CNA2014_ENCABEZADO_19 = pd.read_csv(path + 'CNA2014_ENCABEZADO_19.csv', encoding='latin1', sep=',')
CNA2014_ENCABEZADO_19.head(2)

,TIPO_REG,PAIS,P_DEPTO,P_MUNIC,UC_UO,ENCUESTA,COD_VEREDA,COD_PARQUE,PRED_ETNICA,P_S3P9,...,P_S12P145,P_S12P146,P_S12P147,P_S12P148,P_S12P149,P_S12P150A,P_S15P158,P_S15P158A,P_S15P158B,TIPO_UC
0,1,170,19,19001,0,1163085,19001999,NaN,7,2,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,5,2
1,1,170,19,19001,0,1207875,19001999,NaN,7,2,...,NaN,NaN,NaN,NaN,NaN,NaN,1,1,5,2

In [36]:
CNA2014_S10_19 = pd.read_csv(path + 'CNA2014_S10_19.csv', encoding='latin1', sep=',')
CNA2014_S10_19.head(2)

,TIPO_REG,PAIS,P_DEPTO,P_MUNIC,UC_UO,ENCUESTA,COD_VEREDA,ID_CONST,P_S10P122,P_S10P123
0,G,170,19,19001,0,7382680,19001021,1,59,7.82432
1,G,170,19,19001,0,7382680,19001021,2,27,17.60472

In [37]:
CNA2014_S14_19 = pd.read_csv(path + 'CNA2014_S14_19.csv', encoding='latin1', sep=',')
CNA2014_S14_19.head(2)

,TIPO_REG,PAIS,P_DEPTO,P_MUNIC,UC_UO,ENCUESTA,COD_VEREDA,P_S14P157_SP1,P_S14P157A,P_S14P157_SP2,...,P_S14P157_SP32,P_S14P157AF,P_S14P157_SP33,P_S14P157AG,P_S14P157_SP34,P_S14P157AH,P_S14P157_SP35,P_S14P157_SP36,P_S14P157_SP37,P_S14P157_SP38
0,K,170,19,19001,0,1163085,19001999,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,K,170,19,19001,0,1207875,19001999,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN

In [38]:
CNA2014_S15H_19 = pd.read_csv(path + 'CNA2014_S15H_19.csv', encoding='latin1', sep=',')
CNA2014_S15H_19.head(2)

,TIPO_REG,PAIS,P_DEPTO,P_MUNIC,UC_UO,ENCUESTA,COD_VEREDA,ITER_HG,P_S15P165A,P_S15P165B,...,P_S15P178,P_S15P179_SP1,P_S15P179A,P_S15P179_SP2,P_S15P179B,P_S15P179_SP3,P_S15P179C,P_S15P179_SP4,P_S15P180,TOT_PROD_HOGAR
0,N,170,19,19001,0,1163085,19001999,101,1,1,...,3,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,N,170,19,19001,0,1207875,19001999,101,1,1,...,3,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN

In [39]:
CNA2014_S15P_19 = pd.read_csv(path + 'CNA2014_S15P_19.csv', encoding='latin1', sep=',')
CNA2014_S15P_19.head(2)

,TIPO_REG,PAIS,P_DEPTO,P_MUNIC,UC_UO,ENCUESTA,COD_VEREDA,P_S15P165,P_S15P165A,P_S15P165B,...,P_S15P170,P_S15P171,P_S15P172,P_S15P173,P_S15P174,P_S15P175A,P_S15P175B,P_S15P175C,P_S15P176,ID_PROD
0,O,170,19,19001,0,1163085,19001999,10101,1,1,...,1,998.0,NaN,1.0,2.0,2.0,5.0,8.0,3,NaN
1,O,170,19,19001,0,1163085,19001999,10102,1,1,...,1,998.0,NaN,1.0,1.0,7.0,3.0,26.0,3,NaN

In [40]:
CNA2014_S15V_19 = pd.read_csv(path + 'CNA2014_S15V_19.csv', encoding='latin1', sep=',')
CNA2014_S15V_19.head(2)

,TIPO_REG,PAIS,P_DEPTO,P_MUNIC,UC_UO,ENCUESTA,COD_VEREDA,P_S15P159,P_S15P160,P_S15P161,P_S15P162,P_S15P163,P_S15P164_SP1,P_S15P164_SP2,P_S15P164_SP3,P_S15P164_SP4
0,M,170,19,19001,0,1163085,19001999,1,1,1.0,1.0,2.0,1.0,2.0,1.0,NaN
1,M,170,19,19001,0,1207875,19001999,1,1,1.0,1.0,2.0,1.0,1.0,1.0,NaN

In [41]:
CNA2014_S6CUL_2013_19 = pd.read_csv(path + 'CNA2014_S6CUL_2013_19.csv', encoding='latin1', sep=',')
CNA2014_S6CUL_2013_19.head(2)

,TIPO_REG,PAIS,P_DEPTO,P_MUNIC,UC_UO,ENCUESTA,COD_VEREDA,P_S6P45B,P_S6P45A,P_S6P46,...,P_S6P50,P_S6P51_SP1,P_S6P51_SP2,P_S6P51_SP3,P_S6P53,P_S6P57A,P_S6P59_UNIF,P_S6P60,AREA_SEMBRADA,AREA_COSECHADA
0,4,170,19,19001,0,1410745,19001021,1,1,196104018,...,1.0,NaN,1.0,NaN,2.0,0.0,NaN,12.0,0.996527,0.0
1,4,170,19,19001,0,1410745,19001021,2,1,196104044,...,1.0,NaN,1.0,NaN,2.0,0.0,NaN,12.0,2.342687,0.0

In [42]:
CNA2014_S6FV_19 = pd.read_csv(path + 'CNA2014_S6FV_19.csv', encoding='latin1', sep=',')
CNA2014_S6FV_19.head(2)

,TIPO_REG,PAIS,P_DEPTO,P_MUNIC,UC_UO,ENCUESTA,COD_VEREDA,TIPO_FV,ORDEN,CODIGO,CANTIDAD
0,6,170,19,19001,0,1410745,19001021,1,1,99000000005,2000
1,6,170,19,19001,0,2025792,19001002,1,1,132401001,5

In [43]:
CNA2014_S7_19 = pd.read_csv(path + 'CNA2014_S7_19.csv', encoding='latin1', sep=',')
CNA2014_S7_19.head(2)

,TIPO_REG,PAIS,P_DEPTO,P_MUNIC,UC_UO,ENCUESTA,COD_VEREDA,P_S7PNUMPEZ,P_S7P96,P_S7P97,P_S7P98,P_S7P99,P_S7P100
0,7,170,19,19001,0,81334507,19001999,18,41190400,12,1,6500.0,78.0
1,7,170,19,19001,10000,1063065,19001014,1,41190400,1,300,250.0,75.0

In [44]:
CNA2014_S8_19 = pd.read_csv(path + 'CNA2014_S8_19.csv', encoding='latin1', sep=',')
CNA2014_S8_19.head(2)

,TIPO_REG,PAIS,P_DEPTO,P_MUNIC,UC_UO,ENCUESTA,COD_VEREDA,P_S8_NUMPEZDUL,P_S8P1141,P_S8P1151,P_S8P115A1,P_S8P1161,P_S8P116A1,P_S8_NUMPEZSAL,P_S8P1142,P_S8P1152,P_S8P115A2,P_S8P1162,P_S8P116A2
0,8,170,19,19001,150000,1221796,19001019,1.0,41190400.0,9.0,1,5.0,1,NaN,NaN,NaN,0.0,NaN,0.0
1,8,170,19,19001,170000,2025988,19001014,1.0,41222300.0,5.0,1,0.0,0,NaN,NaN,NaN,0.0,NaN,0.0

In [45]:
CNA2014_S9_19 = pd.read_csv(path + 'CNA2014_S9_19.csv', encoding='latin1', sep=',')
CNA2014_S9_19.head(2)

,TIPO_REG,PAIS,P_DEPTO,P_MUNIC,UC_UO,ENCUESTA,COD_VEREDA,ID_MAQ,P_S9P118,P_S9P119,P_S9P120
0,9,170,19,19001,0,81334507,19001999,1,4.412303e+08,5.0,0.0
1,9,170,19,19001,0,81382720,19001016,1,1.000000e+10,1.0,0.0

# Filter data

In [46]:
CensoAgropecuario = CNA2014_ENCABEZADO_19[['P_MUNIC', 'P_S11P136', 'P_S11P136A', 'P_S11P136B_SP1', 'P_S11P136B_SP2', 'P_S11P136B_SP3', 'P_S11P136B_SP4', 'P_S11P136B_SP5', 'P_S11P136B_SP6', 'P_S11P136B_SP7', 'P_S11P136B_SP8', 'P_S11P137_SP1', 'P_S11P137_SP2', 'P_S11P137_SP3', 'P_S11P137_SP4', 'P_S11P137_SP5', 'P_S11P137_SP6', 'P_S11P137_SP7', 'P_S11P137_SP8', 'P_S11P137_SP10', 'P_S11P137_SP11', 'P_S12P147', 'P_S10P121', 'P_S11P124_SP1', 'P_S11P124_SP2', 'P_S11P124_SP3', 'P_S11P124_SP4', 'P_S11P124_SP5', 'P_S11P124_SP6', 'P_S11P124_SP7', 'P_S11P124_SP8', 'P_S11P124_SP9', 'P_S11P124_SP10', 'P_S11P124_SP11', 'P_S11P126_SP4', 'P_S11P126_SP7', 'P_S11P126_SP3', 'P_S11P126_SP5', 'P_S11P126_SP1', 'P_S11P126_SP2', 'P_S12P142', 'P_S12P143','P_S12P144', 'P_S12P145', 'P_S12P146']]
CensoAgropecuario.head(5)

,P_MUNIC,P_S11P136,P_S11P136A,P_S11P136B_SP1,P_S11P136B_SP2,P_S11P136B_SP3,P_S11P136B_SP4,P_S11P136B_SP5,P_S11P136B_SP6,P_S11P136B_SP7,...,P_S11P126_SP7,P_S11P126_SP3,P_S11P126_SP5,P_S11P126_SP1,P_S11P126_SP2,P_S12P142,P_S12P143,P_S12P144,P_S12P145,P_S12P146
0,19001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,19001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19001,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,47061.075527,0.0,0.0,1840.760173,3457.421527
3,19001,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,77778.663152,0.0,0.0,2829.168041,5080.229054
4,19001,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11447.005279,0.0,0.0,1026.555351,0.000000

In [47]:
CensoAgropecuario.shape

(237756, 45)

In [48]:
# Calculate missing data
cols_with_miss = [col for col in CensoAgropecuario.columns if CensoAgropecuario[col].isnull().any()]
print('the cols missing are: ', cols_with_miss)
# Categorical columns 
categoricals = CensoAgropecuario.dtypes == 'object'
all_categorical_cols = list(categoricals[categoricals].index)
print('the categorical columns are: ', all_categorical_cols)
# Numerical columns
numerical_cols=[col for col in CensoAgropecuario.columns if CensoAgropecuario[col].dtypes in ['int64', 'float64']]
print('the numcerical cols are: ', numerical_cols)

the cols missing are:  ['P_S11P136', 'P_S11P136A', 'P_S11P136B_SP1', 'P_S11P136B_SP2', 'P_S11P136B_SP3', 'P_S11P136B_SP4', 'P_S11P136B_SP5', 'P_S11P136B_SP6', 'P_S11P136B_SP7', 'P_S11P136B_SP8', 'P_S11P137_SP1', 'P_S11P137_SP2', 'P_S11P137_SP3', 'P_S11P137_SP4', 'P_S11P137_SP5', 'P_S11P137_SP6', 'P_S11P137_SP7', 'P_S11P137_SP8', 'P_S11P137_SP10', 'P_S11P137_SP11', 'P_S12P147', 'P_S10P121', 'P_S11P124_SP1', 'P_S11P124_SP2', 'P_S11P124_SP3', 'P_S11P124_SP4', 'P_S11P124_SP5', 'P_S11P124_SP6', 'P_S11P124_SP7', 'P_S11P124_SP8', 'P_S11P124_SP9', 'P_S11P124_SP10', 'P_S11P124_SP11', 'P_S11P126_SP4', 'P_S11P126_SP7', 'P_S11P126_SP3', 'P_S11P126_SP5', 'P_S11P126_SP1', 'P_S11P126_SP2', 'P_S12P142', 'P_S12P143', 'P_S12P144', 'P_S12P145', 'P_S12P146']
the categorical columns are:  []
the numcerical cols are:  ['P_MUNIC', 'P_S11P136', 'P_S11P136A', 'P_S11P136B_SP1', 'P_S11P136B_SP2', 'P_S11P136B_SP3', 'P_S11P136B_SP4', 'P_S11P136B_SP5', 'P_S11P136B_SP6', 'P_S11P136B_SP7', 'P_S11P136B_SP8', 'P_S11P137_SP1', 'P_S11P137_SP2', 'P_S11P137_SP3', 'P_S11P137_SP4', 'P_S11P137_SP5', 'P_S11P137_SP6', 'P_S11P137_SP7', 'P_S11P137_SP8', 'P_S11P137_SP10', 'P_S11P137_SP11', 'P_S12P147', 'P_S10P121', 'P_S11P124_SP1', 'P_S11P124_SP2', 'P_S11P124_SP3', 'P_S11P124_SP4', 'P_S11P124_SP5', 'P_S11P124_SP6', 'P_S11P124_SP7', 'P_S11P124_SP8', 'P_S11P124_SP9', 'P_S11P124_SP10', 'P_S11P124_SP11', 'P_S11P126_SP4', 'P_S11P126_SP7', 'P_S11P126_SP3', 'P_S11P126_SP5', 'P_S11P126_SP1', 'P_S11P126_SP2', 'P_S12P142', 'P_S12P143', 'P_S12P144', 'P_S12P145', 'P_S12P146']

In [49]:
CensoAgropecuario.isna().sum()

P_MUNIC                0
P_S11P136          35486
P_S11P136A         35486
P_S11P136B_SP1    224613
P_S11P136B_SP2    233597
P_S11P136B_SP3    236704
P_S11P136B_SP4    237536
P_S11P136B_SP5    237563
P_S11P136B_SP6    236639
P_S11P136B_SP7    237741
P_S11P136B_SP8    237675
P_S11P137_SP1     233220
P_S11P137_SP2     227467
P_S11P137_SP3     236021
P_S11P137_SP4     237262
P_S11P137_SP5     235352
P_S11P137_SP6     234189
P_S11P137_SP7     237275
P_S11P137_SP8     237669
P_S11P137_SP10    237638
P_S11P137_SP11    235778
P_S12P147          35486
P_S10P121          35486
P_S11P124_SP1     205227
P_S11P124_SP2     151784
P_S11P124_SP3     236330
P_S11P124_SP4     233135
P_S11P124_SP5     237548
P_S11P124_SP6     230155
P_S11P124_SP7     222167
P_S11P124_SP8     215827
P_S11P124_SP9     237342
P_S11P124_SP10    236597
P_S11P124_SP11    198885
P_S11P126_SP4     162230
P_S11P126_SP7     232136
P_S11P126_SP3     234855
P_S11P126_SP5     233397
P_S11P126_SP1     229222
P_S11P126_SP2     231326
P_S12P142          35486
P_S12P143          35486
P_S12P144          35486
P_S12P145          35486
P_S12P146          35486
dtype: int64

# Pre-Processing

### Credit data:

In [50]:
# Drop Na
CensoAgropecuario = CensoAgropecuario[CensoAgropecuario['P_S11P136'].notna()]
CensoAgropecuario

,P_MUNIC,P_S11P136,P_S11P136A,P_S11P136B_SP1,P_S11P136B_SP2,P_S11P136B_SP3,P_S11P136B_SP4,P_S11P136B_SP5,P_S11P136B_SP6,P_S11P136B_SP7,...,P_S11P126_SP7,P_S11P126_SP3,P_S11P126_SP5,P_S11P126_SP1,P_S11P126_SP2,P_S12P142,P_S12P143,P_S12P144,P_S12P145,P_S12P146
2,19001,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.706108e+04,0.000000,0.0,1840.760173,3457.421527
3,19001,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.777866e+04,0.000000,0.0,2829.168041,5080.229054
4,19001,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.144701e+04,0.000000,0.0,1026.555351,0.000000
5,19001,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,4.940833e+04,0.000000,0.0,678.081129,3689.206335
7,19001,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.547884e+04,21.837556,0.0,3434.066289,1557.658944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237746,19845,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.840883e+02,0.000000,0.0,0.000000,0.000000
237747,19845,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.345853e+02,0.000000,0.0,0.000000,0.000000
237748,19845,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.870094e+07,36.761158,0.0,10038.561214,5633.913852
237749,19845,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.838383e+02,0.000000,0.0,0.000000,0.000000
237752,19845,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.236436e+02,0.000000,0.0,0.000000,0.000000

In [51]:
CensoAgropecuario.isna().sum()

P_MUNIC                0
P_S11P136              0
P_S11P136A             0
P_S11P136B_SP1    189127
P_S11P136B_SP2    198111
P_S11P136B_SP3    201218
P_S11P136B_SP4    202050
P_S11P136B_SP5    202077
P_S11P136B_SP6    201153
P_S11P136B_SP7    202255
P_S11P136B_SP8    202189
P_S11P137_SP1     197734
P_S11P137_SP2     191981
P_S11P137_SP3     200535
P_S11P137_SP4     201776
P_S11P137_SP5     199866
P_S11P137_SP6     198703
P_S11P137_SP7     201789
P_S11P137_SP8     202183
P_S11P137_SP10    202152
P_S11P137_SP11    200292
P_S12P147              0
P_S10P121              0
P_S11P124_SP1     169741
P_S11P124_SP2     116298
P_S11P124_SP3     200844
P_S11P124_SP4     197649
P_S11P124_SP5     202062
P_S11P124_SP6     194669
P_S11P124_SP7     186681
P_S11P124_SP8     180341
P_S11P124_SP9     201856
P_S11P124_SP10    201111
P_S11P124_SP11    163399
P_S11P126_SP4     126744
P_S11P126_SP7     196650
P_S11P126_SP3     199369
P_S11P126_SP5     197911
P_S11P126_SP1     193736
P_S11P126_SP2     195840
P_S12P142              0
P_S12P143              0
P_S12P144              0
P_S12P145              0
P_S12P146              0
dtype: int64

In [52]:
print(f'The values of credit are: {set(CensoAgropecuario.P_S11P136.to_list())}')
# Credit? yes = 1 no = 2 -> yes = 1 , no = 0
CensoAgropecuario.P_S11P136 = CensoAgropecuario.P_S11P136.replace(2.0, 0.0)
print(f'The values of credit are:  {set(CensoAgropecuario.P_S11P136.to_list())}')
CensoAgropecuario = CensoAgropecuario.rename(columns={'P_S11P136':'Credito_Solicitado'})

The values of credit are: {1.0, 2.0}
The values of credit are:  {0.0, 1.0}

In [53]:
print(f'The values of credit are: {set(CensoAgropecuario.P_S11P136A.to_list())}')
# approved? yes = 1, no = 2, no credit = 0 -> yes = 1 , no, no credit = 0
CensoAgropecuario.P_S11P136A = CensoAgropecuario.P_S11P136A.replace(2.0, 0.0)
print(f'The values of credit are:  {set(CensoAgropecuario.P_S11P136A.to_list())}')
CensoAgropecuario = CensoAgropecuario.rename(columns={'P_S11P136A':'Credito_Aprobado'})

The values of credit are: {0.0, 1.0, 2.0}
The values of credit are:  {0.0, 1.0}

In [54]:
credit = ['P_S11P136B_SP1', 'P_S11P136B_SP2', 'P_S11P136B_SP3', 'P_S11P136B_SP4', 'P_S11P136B_SP5', 'P_S11P136B_SP6', 'P_S11P136B_SP7', 'P_S11P136B_SP8']
CensoAgropecuario[credit] = CensoAgropecuario[credit].fillna(0)
CensoAgropecuario['Credito_banco'] = CensoAgropecuario['P_S11P136B_SP1'] + CensoAgropecuario['P_S11P136B_SP2'] + CensoAgropecuario['P_S11P136B_SP3'] + CensoAgropecuario['P_S11P136B_SP4']
CensoAgropecuario['Credito_ong'] = CensoAgropecuario['P_S11P136B_SP5'] + CensoAgropecuario['P_S11P136B_SP8']
CensoAgropecuario['Credito_gobierno'] = CensoAgropecuario['P_S11P136B_SP6']
CensoAgropecuario['Credito_onu'] = CensoAgropecuario['P_S11P136B_SP7']
CensoAgropecuario.drop(columns=credit, inplace=True)
CensoAgropecuario

,P_MUNIC,Credito_Solicitado,Credito_Aprobado,P_S11P137_SP1,P_S11P137_SP2,P_S11P137_SP3,P_S11P137_SP4,P_S11P137_SP5,P_S11P137_SP6,P_S11P137_SP7,...,P_S11P126_SP2,P_S12P142,P_S12P143,P_S12P144,P_S12P145,P_S12P146,Credito_banco,Credito_ong,Credito_gobierno,Credito_onu
2,19001,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.706108e+04,0.000000,0.0,1840.760173,3457.421527,0.0,0.0,0.0,0.0
3,19001,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.777866e+04,0.000000,0.0,2829.168041,5080.229054,0.0,0.0,0.0,0.0
4,19001,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.144701e+04,0.000000,0.0,1026.555351,0.000000,0.0,0.0,0.0,0.0
5,19001,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,4.940833e+04,0.000000,0.0,678.081129,3689.206335,1.0,0.0,0.0,0.0
7,19001,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.547884e+04,21.837556,0.0,3434.066289,1557.658944,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237746,19845,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.840883e+02,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
237747,19845,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.345853e+02,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
237748,19845,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.870094e+07,36.761158,0.0,10038.561214,5633.913852,0.0,0.0,0.0,0.0
237749,19845,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.838383e+02,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0
237752,19845,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.236436e+02,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0

### Investments Data

In [55]:
inversion = ['P_S11P137_SP1', 'P_S11P137_SP2', 'P_S11P137_SP3', 'P_S11P137_SP4', 'P_S11P137_SP5', 'P_S11P137_SP6', 'P_S11P137_SP7', 'P_S11P137_SP8', 'P_S11P137_SP10', 'P_S11P137_SP11']
CensoAgropecuario[inversion] = CensoAgropecuario[inversion].fillna(0)
CensoAgropecuario['inversion_tecnologia'] = CensoAgropecuario['P_S11P137_SP3'] + CensoAgropecuario['P_S11P137_SP4'] + CensoAgropecuario['P_S11P137_SP10']
CensoAgropecuario['inversion_otros'] = CensoAgropecuario['P_S11P137_SP1'] + CensoAgropecuario['P_S11P137_SP2'] + CensoAgropecuario['P_S11P137_SP5'] + CensoAgropecuario['P_S11P137_SP6'] + CensoAgropecuario['P_S11P137_SP7'] + CensoAgropecuario['P_S11P137_SP8'] + CensoAgropecuario['P_S11P137_SP11'] 
CensoAgropecuario.drop(columns=inversion, inplace=True)
CensoAgropecuario

,P_MUNIC,Credito_Solicitado,Credito_Aprobado,P_S12P147,P_S10P121,P_S11P124_SP1,P_S11P124_SP2,P_S11P124_SP3,P_S11P124_SP4,P_S11P124_SP5,...,P_S12P143,P_S12P144,P_S12P145,P_S12P146,Credito_banco,Credito_ong,Credito_gobierno,Credito_onu,inversion_tecnologia,inversion_otros
2,19001,0.0,0.0,0.000000e+00,2.0,NaN,1.0,NaN,NaN,NaN,...,0.000000,0.0,1840.760173,3457.421527,0.0,0.0,0.0,0.0,0.0,0.0
3,19001,0.0,0.0,0.000000e+00,2.0,NaN,1.0,NaN,NaN,NaN,...,0.000000,0.0,2829.168041,5080.229054,0.0,0.0,0.0,0.0,0.0,0.0
4,19001,0.0,0.0,0.000000e+00,2.0,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,1026.555351,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
5,19001,1.0,1.0,0.000000e+00,2.0,NaN,1.0,NaN,NaN,NaN,...,0.000000,0.0,678.081129,3689.206335,1.0,0.0,0.0,0.0,0.0,1.0
7,19001,0.0,0.0,2.542904e+01,1.0,NaN,1.0,NaN,NaN,NaN,...,21.837556,0.0,3434.066289,1557.658944,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237746,19845,0.0,0.0,0.000000e+00,2.0,1.0,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
237747,19845,0.0,0.0,0.000000e+00,2.0,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
237748,19845,0.0,0.0,1.776010e+06,1.0,NaN,NaN,NaN,NaN,NaN,...,36.761158,0.0,10038.561214,5633.913852,0.0,0.0,0.0,0.0,0.0,0.0
237749,19845,0.0,0.0,0.000000e+00,2.0,1.0,NaN,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
237752,19845,0.0,0.0,0.000000e+00,2.0,NaN,1.0,NaN,NaN,NaN,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [56]:
CensoAgropecuario.isna().sum()

P_MUNIC                      0
Credito_Solicitado           0
Credito_Aprobado             0
P_S12P147                    0
P_S10P121                    0
P_S11P124_SP1           169741
P_S11P124_SP2           116298
P_S11P124_SP3           200844
P_S11P124_SP4           197649
P_S11P124_SP5           202062
P_S11P124_SP6           194669
P_S11P124_SP7           186681
P_S11P124_SP8           180341
P_S11P124_SP9           201856
P_S11P124_SP10          201111
P_S11P124_SP11          163399
P_S11P126_SP4           126744
P_S11P126_SP7           196650
P_S11P126_SP3           199369
P_S11P126_SP5           197911
P_S11P126_SP1           193736
P_S11P126_SP2           195840
P_S12P142                    0
P_S12P143                    0
P_S12P144                    0
P_S12P145                    0
P_S12P146                    0
Credito_banco                0
Credito_ong                  0
Credito_gobierno             0
Credito_onu                  0
inversion_tecnologia         0
inversion_otros              0
dtype: int64

### Area usage data

In [57]:
areas = ['P_S12P142', 'P_S12P143', 'P_S12P144', 'P_S12P145', 'P_S12P146','P_S12P147', 'P_S10P121']
CensoAgropecuario['area_cultivo'] = CensoAgropecuario['P_S12P142'] 
CensoAgropecuario['area_bosques'] = CensoAgropecuario['P_S12P146'] 
CensoAgropecuario['area_nocultivada'] = CensoAgropecuario['P_S12P143'] + CensoAgropecuario['P_S12P144'] + CensoAgropecuario['P_S12P145'] 
CensoAgropecuario['area_infraestructura'] = CensoAgropecuario['P_S12P147']

print(f'The values of areas are:  {set(CensoAgropecuario.P_S10P121.to_list())}')
CensoAgropecuario['P_S10P121'] = CensoAgropecuario['P_S10P121'].replace(9.0, 0.0)
CensoAgropecuario['P_S10P121'] = CensoAgropecuario['P_S10P121'].replace(2.0, 0.0)
print(f'The values of areas are:  {set(CensoAgropecuario.P_S10P121.to_list())}')
CensoAgropecuario['infraestructura_en_construccion'] = CensoAgropecuario['P_S10P121']

CensoAgropecuario.drop(columns=areas, inplace=True)
CensoAgropecuario

The values of areas are:  {1.0, 2.0, 9.0}
The values of areas are:  {0.0, 1.0}

,P_MUNIC,Credito_Solicitado,Credito_Aprobado,P_S11P124_SP1,P_S11P124_SP2,P_S11P124_SP3,P_S11P124_SP4,P_S11P124_SP5,P_S11P124_SP6,P_S11P124_SP7,...,Credito_ong,Credito_gobierno,Credito_onu,inversion_tecnologia,inversion_otros,area_cultivo,area_bosques,area_nocultivada,area_infraestructura,infraestructura_en_construccion
2,19001,0.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,4.706108e+04,3457.421527,1840.760173,0.000000e+00,0.0
3,19001,0.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,7.777866e+04,5080.229054,2829.168041,0.000000e+00,0.0
4,19001,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.144701e+04,0.000000,1026.555351,0.000000e+00,0.0
5,19001,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,4.940833e+04,3689.206335,678.081129,0.000000e+00,0.0
7,19001,0.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,5.547884e+04,1557.658944,3455.903845,2.542904e+01,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237746,19845,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,3.840883e+02,0.000000,0.000000,0.000000e+00,0.0
237747,19845,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,1.345853e+02,0.000000,0.000000,0.000000e+00,0.0
237748,19845,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,3.870094e+07,5633.913852,10075.322372,1.776010e+06,1.0
237749,19845,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,2.838383e+02,0.000000,0.000000,0.000000e+00,0.0
237752,19845,0.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.236436e+02,0.000000,0.000000,0.000000e+00,0.0

### Water Sources Data

In [58]:
fuentes_agua = ['P_S11P124_SP1', 'P_S11P124_SP2', 'P_S11P124_SP3', 'P_S11P124_SP4', 'P_S11P124_SP5','P_S11P124_SP6', 'P_S11P124_SP7', 'P_S11P124_SP8', 'P_S11P124_SP9','P_S11P124_SP10', 'P_S11P124_SP11']
CensoAgropecuario[fuentes_agua] = CensoAgropecuario[fuentes_agua].fillna(0)

CensoAgropecuario['agua_lluvia'] = CensoAgropecuario['P_S11P124_SP1'] 
CensoAgropecuario['agua_fuente_natural'] = CensoAgropecuario['P_S11P124_SP2'] + CensoAgropecuario['P_S11P124_SP3'] + CensoAgropecuario['P_S11P124_SP4'] + CensoAgropecuario['P_S11P124_SP5'] + CensoAgropecuario['P_S11P124_SP6'] + CensoAgropecuario['P_S11P124_SP7'] 

for i in range (2,6):
      CensoAgropecuario['agua_fuente_natural'] = CensoAgropecuario['agua_fuente_natural'].replace(i, 1.0)

CensoAgropecuario['agua_no_acceso'] = CensoAgropecuario['P_S11P124_SP11']
CensoAgropecuario['agua_acueducto'] = CensoAgropecuario['P_S11P124_SP8']
CensoAgropecuario['agua_carrotanque'] = CensoAgropecuario['P_S11P124_SP9']

CensoAgropecuario.drop(columns=fuentes_agua, inplace=True)
CensoAgropecuario

SyntaxError: invalid syntax (2871290314.py, line 8)

### Water issues

In [28]:
dificultades_agua = ['P_S11P126_SP4', 'P_S11P126_SP7', 'P_S11P126_SP3', 'P_S11P126_SP5', 'P_S11P126_SP1', 'P_S11P126_SP2']

CensoAgropecuario[dificultades_agua] = CensoAgropecuario[dificultades_agua].fillna(0)

CensoAgropecuario['no_agua_contaminacion'] = CensoAgropecuario['P_S11P126_SP1']

CensoAgropecuario['no_agua_desastres_naturales'] = CensoAgropecuario['P_S11P126_SP7'] + CensoAgropecuario['P_S11P126_SP2']
CensoAgropecuario['no_agua_desastres_naturales'] = CensoAgropecuario['no_agua_desastres_naturales'].replace(2.0, 1.0)

CensoAgropecuario['no_agua_sequia'] = CensoAgropecuario['P_S11P126_SP4']

CensoAgropecuario['no_agua_fallos_servicio'] = CensoAgropecuario['P_S11P126_SP3'] + CensoAgropecuario['P_S11P126_SP5']
CensoAgropecuario['no_agua_fallos_servicio'] = CensoAgropecuario['no_agua_desastres_naturales'].replace(2.0, 1.0)

CensoAgropecuario.drop(columns=dificultades_agua, inplace=True)
CensoAgropecuario

,P_MUNIC,Credito_Solicitado,Credito_Aprobado,Credito_banco,Credito_ong,Credito_gobierno,Credito_onu,inversion_tecnologia,inversion_otros,area_cultivo,...,infraestructura_en_construccion,agua_lluvia,agua_fuente_natural,agua_no_acceso,agua_acueducto,agua_carrotanque,no_agua_contaminacion,no_agua_desastres_naturales,no_agua_sequia,no_agua_fallos_servicio
2,19001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.706108e+04,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,19001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.777866e+04,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,19001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.144701e+04,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5,19001,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,4.940833e+04,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
7,19001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.547884e+04,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237746,19845,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.840883e+02,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
237747,19845,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.345853e+02,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
237748,19845,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.870094e+07,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
237749,19845,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.838383e+02,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
237752,19845,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.236436e+02,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Group by municipality

In [29]:
CensoAgropecuario_final = CensoAgropecuario.groupby(['P_MUNIC']).sum()
CensoAgropecuario_final

,Credito_Solicitado,Credito_Aprobado,Credito_banco,Credito_ong,Credito_gobierno,Credito_onu,inversion_tecnologia,inversion_otros,area_cultivo,area_bosques,...,infraestructura_en_construccion,agua_lluvia,agua_fuente_natural,agua_no_acceso,agua_acueducto,agua_carrotanque,no_agua_contaminacion,no_agua_desastres_naturales,no_agua_sequia,no_agua_fallos_servicio
P_MUNIC,,,,,,,,,,,,,,,,,,,,,
19001,775.0,684.0,702.0,2.0,6.0,1.0,50.0,708.0,2.483592e+08,5.375580e+07,...,787.0,615.0,2553.0,405.0,1635.0,34.0,200.0,517.0,1861.0,517.0
19022,204.0,159.0,156.0,1.0,1.0,0.0,7.0,190.0,6.597767e+07,1.224242e+08,...,323.0,4069.0,3951.0,2380.0,71.0,4.0,154.0,265.0,4688.0,265.0
19050,416.0,303.0,307.0,0.0,1.0,1.0,10.0,359.0,1.666753e+08,4.361814e+08,...,606.0,342.0,2577.0,386.0,469.0,14.0,293.0,146.0,813.0,146.0
19075,559.0,497.0,497.0,2.0,2.0,0.0,15.0,604.0,2.020646e+08,8.911051e+07,...,647.0,810.0,3102.0,458.0,24.0,1.0,174.0,231.0,3142.0,231.0
19100,537.0,466.0,484.0,2.0,1.0,1.0,24.0,522.0,3.477430e+08,6.208905e+07,...,298.0,1814.0,10235.0,9922.0,1011.0,33.0,179.0,659.0,11818.0,659.0
19110,585.0,454.0,441.0,6.0,13.0,0.0,21.0,507.0,1.735961e+08,6.782040e+07,...,742.0,1976.0,3200.0,825.0,542.0,6.0,325.0,177.0,3104.0,177.0
19130,791.0,706.0,727.0,3.0,1.0,0.0,58.0,762.0,2.243801e+08,7.940228e+07,...,455.0,233.0,3686.0,653.0,497.0,6.0,278.0,220.0,1937.0,220.0
19137,898.0,829.0,860.0,4.0,2.0,1.0,50.0,1091.0,1.490620e+08,9.684139e+07,...,294.0,855.0,4245.0,916.0,130.0,8.0,119.0,304.0,2446.0,304.0
19142,575.0,515.0,483.0,7.0,33.0,2.0,60.0,766.0,1.622975e+08,8.155217e+07,...,1028.0,1282.0,1971.0,723.0,463.0,6.0,234.0,343.0,1976.0,343.0
19212,111.0,97.0,35.0,1.0,62.0,0.0,61.0,211.0,1.374475e+08,8.431874e+07,...,233.0,422.0,1186.0,817.0,55.0,1.0,64.0,59.0,914.0,59.0
19256,1716.0,1469.0,1532.0,13.0,11.0,0.0,85.0,1711.0,8.676366e+08,1.059121e+09,...,1482.0,1161.0,6426.0,2195.0,3065.0,39.0,346.0,620.0,3845.0,620.0
19290,190.0,174.0,175.0,5.0,0.0,0.0,7.0,190.0,3.987921e+07,3.051275e+06,...,171.0,82.0,707.0,419.0,439.0,2.0,43.0,33.0,527.0,33.0
19300,244.0,219.0,116.0,4.0,106.0,0.0,104.0,266.0,6.199631e+07,1.193832e+06,...,143.0,1694.0,562.0,357.0,121.0,3.0,9.0,42.0,929.0,42.0
19318,524.0,463.0,464.0,0.0,0.0,0.0,289.0,257.0,2.606946e+08,1.991441e+09,...,345.0,2159.0,2319.0,132.0,112.0,3.0,173.0,91.0,168.0,91.0
19355,775.0,705.0,663.0,58.0,9.0,1.0,28.0,759.0,2.504799e+08,4.060354e+08,...,1578.0,55.0,3837.0,944.0,317.0,1.0,247.0,1176.0,843.0,1176.0
19364,348.0,307.0,298.0,4.0,2.0,0.0,19.0,325.0,8.501828e+07,1.202451e+08,...,536.0,155.0,1958.0,418.0,276.0,3.0,59.0,316.0,945.0,316.0
19392,457.0,378.0,383.0,3.0,2.0,0.0,19.0,458.0,8.187277e+07,4.435834e+07,...,447.0,26.0,1442.0,521.0,580.0,8.0,56.0,192.0,1120.0,192.0
19397,297.0,257.0,248.0,2.0,1.0,1.0,9.0,277.0,1.650140e+08,1.053165e+08,...,285.0,45.0,3581.0,1075.0,174.0,4.0,106.0,285.0,1231.0,285.0
19418,107.0,71.0,70.0,1.0,0.0,0.0,16.0,78.0,4.390711e+08,2.598492e+09,...,1167.0,2088.0,2919.0,195.0,73.0,4.0,577.0,254.0,205.0,254.0
19450,384.0,352.0,360.0,3.0,1.0,0.0,11.0,405.0,3.070698e+08,6.929020e+07,...,581.0,1120.0,2248.0,1293.0,601.0,9.0,69.0,33.0,3864.0,33.0
19455,460.0,394.0,196.0,3.0,194.0,1.0,211.0,770.0,1.461086e+08,4.897772e+07,...,638.0,112.0,1037.0,355.0,148.0,2.0,22.0,57.0,426.0,57.0
19473,996.0,780.0,773.0,17.0,1.0,0.0,43.0,1046.0,1.998419e+08,1.509683e+08,...,1097.0,656.0,3906.0,885.0,1284.0,25.0,139.0,201.0,2160.0,201.0
19513,476.0,461.0,85.0,1.0,375.0,0.0,377.0,1181.0,7.787692e+07,4.544663e+06,...,398.0,853.0,607.0,79.0,70.0,1.0,16.0,301.0,433.0,301.0
19517,661.0,598.0,600.0,4.0,0.0,0.0,44.0,656.0,4.165410e+08,1.042388e+09,...,913.0,271.0,1865.0,304.0,1324.0,13.0,169.0,672.0,739.0,672.0
19532,428.0,344.0,351.0,2.0,0.0,1.0,32.0,348.0,3.357261e+08,8.433631e+07,...,930.0,343.0,3553.0,415.0,574.0,19.0,422.0,177.0,3114.0,177.0
19533,91.0,79.0,77.0,0.0,0.0,0.0,2.0,78.0,1.669955e+08,6.440950e+08,...,56.0,21.0,581.0,57.0,63.0,1.0,111.0,25.0,44.0,25.0
19548,1024.0,932.0,981.0,3.0,2.0,2.0,51.0,1032.0,1.256217e+08,1.112880e+07,...,588.0,514.0,1918.0,1675.0,2793.0,76.0,230.0,227.0,1351.0,227.0
19573,211.0,204.0,58.0,4.0,144.0,0.0,145.0,445.0,1.007797e+08,7.229570e+05,...,243.0,282.0,353.0,33.0,56.0,2.0,16.0,20.0,308.0,20.0
19585,517.0,453.0,452.0,3.0,0.0,0.0,12.0,494.0,2.242916e+08,5.080000e+08,...,988.0,46.0,2111.0,117.0,105.0,1.0,98.0,241.0,806.0,241.0
19622,556.0,524.0,536.0,2.0,1.0,0.0,17.0,628.0,1.021714e+08,5.320666e+06,...,376.0,121.0,2719.0,487.0,52.0,1.0,74.0,219.0,1504.0,219.0
19693,200.0,148.0,140.0,1.0,0.0,0.0,0.0,161.0,1.255961e+08,2.351647e+08,...,110.0,308.0,3183.0,2405.0,360.0,3.0,35.0,138.0,3931.0,138.0
19698,1076.0,976.0,924.0,6.0,68.0,0.0,87.0,1102.0,2.594613e+08,3.467530e+07,...,919.0,456.0,3702.0,435.0,616.0,13.0,245.0,97.0,1765.0,97.0
19701,115.0,65.0,69.0,0.0,1.0,0.0,1.0,62.0,3.585226e+08,2.670442e+09,...,109.0,148.0,1717.0,121.0,77.0,0.0,26.0,338.0,197.0,338.0
19743,860.0,753.0,766.0,3.0,6.0,1.0,35.0,762.0,9.296886e+07,5.422446e+08,...,447.0,1077.0,4658.0,2163.0,330.0,7.0,356.0,518.0,2388.0,518.0
19760,559.0,471.0,488.0,8.0,6.0,1.0,19.0,619.0,2.371277e+08,1.280439e+08,...,493.0,98.0,3691.0,377.0,778.0,15.0,372.0,862.0,1702.0,862.0
19780,468.0,405.0,410.0,2.0,0.0,0.0,28.0,522.0,1.297578e+08,2.713682e+07,...,321.0,712.0,2001.0,872.0,89.0,2.0,105.0,119.0,1454.0,119.0
19785,191.0,169.0,170.0,1.0,1.0,0.0,0.0,228.0,6.131359e+07,5.516857e+06,...,17.0,271.0,1051.0,629.0,60.0,2.0,57.0,67.0,905.0,67.0
19807,1378.0,1245.0,1285.0,12.0,0.0,1.0,72.0,1475.0,1.424346e+08,9.827949e+06,...,1314.0,1908.0,1630.0,780.0,2093.0,35.0,206.0,375.0,990.0,375.0
19809,252.0,164.0,160.0,2.0,0.0,0.0,83.0,105.0,4.705303e+08,1.484845e+09,...,616.0,2122.0,2955.0,160.0,138.0,1.0,1635.0,257.0,577.0,257.0
19821,545.0,463.0,381.0,66.0,10.0,0.0,31.0,456.0,1.987698e+08,2.431031e+08,...,526.0,269.0,3027.0,644.0,158.0,3.0,322.0,615.0,1619.0,615.0
19824,738.0,653.0,651.0,12.0,1.0,0.0,60.0,630.0,1.820160e+08,1.323034e+08,...,267.0,420.0,2806.0,648.0,83.0,3.0,169.0,214.0,2092.0,214.0
19845,80.0,73.0,20.0,1.0,53.0,0.0,54.0,96.0,4.992116e+07,1.154735e+04,...,73.0,518.0,405.0,196.0,23.0,0.0,4.0,53.0,645.0,53.0

# Dataset to CSV

In [31]:
# Data to csv
CensoAgropecuario_final.to_csv('Censo_Output/censo_agropecuario.csv')